footer{

    background: white;
    color: black;
    height: 80px;
}
/*
.left-box{
border: white solid .5px;
}
.center-box{
    border: white solid .5px;
}
.right-box{
    border: white solid .5px;
}
*/